{% extends "page_base.html" %}

{% load staticfiles %}
{% load emph %}

{% block content %}
    <style>
        #searchResult p {padding: 10px; }
        #searchResult h1 {font-size: 1.5em; font-weight: bold;}
        #searchResult input {border: 1px solid black; padding: 2px;}
        #searchResult p.hint {color: #c0c0c0; }
        #searchResult ul ul {margin-left: 15px; margin-bottom: 5px;}
        #searchResult ul ul ul {margin-left: 15px; margin-bottom: 5px;}
    </style>

    <div class="clearfix colelem" id="u3241-4"><!-- content -->
     <p>Search the DB</p>
    </div>

    <div class="clearfix colelem" id="pu965-3"><!-- group -->
    <div class="grpelem" id="u3575">
    <div id="htmlInclude"><!-- group -->
    <div id="searchResult">

    <br /><br />

    <form action="/search/" method="post">{% csrf_token %}
        {{ form.non_field_errors }}
        <table style="width:500px;">
            <tr>
                <td>Search target:</td>
                <td>
                    {{ form.search_target.errors }}
                    {{ form.search_target }}
                </td>
                <td>Search term:</td>
                <td>
                    {{ form.search_term.errors }}
                    {{ form.search_term }}
                </td>
                <td>&nbsp;&nbsp;<input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
    <br /><br /><br />  
    <h1>Search Result</h1>
    <br /><br />
    <ul>
    {% if tgt %}
        {% for item in items %}
            <li>
                <h1>{{ item.name|empha:sterm|safe }}</h1>
                <ul>
                    <li><b>Attributes</b></li>
                    {% for att in item.bdbattrib_set.all %}
                        {% if att.value %}
                            <li>{{ att.attrib_key.name }}/{{ att.value|empha:sterm|safe }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul>
                    <li><b>Diseases:</b></li>
                    {% for dise in item.dise.all %}
                        <li> {{ dise.name|empha:sterm|safe }}</li>
                        <ul>
                            <li><b>Symptoms:</b></li>
                            {% for symp in dise.symp.all %}
                               <li>{{ symp.name|empha:sterm|safe }}</li>
                            {% endfor %}
                        </ul>
                        <ul>
                            <li><b>Health Claims:</b></li>
                            {% for claim in dise.fcla.all %}
                               <li>{{ claim.name|empha:sterm|safe }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
                <ul>
                    <li><b>Pathways:</b></li>
                    {% for phys in item.phys.all %}
                        <li>{{ phys.name|empha:sterm|safe }}</li>
                    {% endfor %}
                </ul>
                <ul>
                    <li><b>Foods:</b></li>
                    {% for food in item.food.all %}
                        <li>{{ food.name|empha:sterm|safe }}</li>
                        <ul>
                            <li><b>Health Claims:</b></li>
                            {% for claim in food.fcla.all %}
                            <li>{{ claim.name|empha:sterm|safe }}</li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
                <ul>
                    <li><b>Food Attributes:</b></li>
                    {% for fatt in item.fatt.all %}
                        <li>{{ fatt.name|empha:sterm|safe }}</li>
                    {% endfor %}
                </ul>

            </li>
        {% empty %}
             <p>No results found.</p> 
        {% endfor %}
    {% endif %}
    </ul>
</div>
</div>
</div>
</div>
{% endblock %}
