{% extends "page_base.html" %}

{% block content %}
    <div class="clearfix colelem" id="u3241-4"><!-- content -->
     <p>Welcome to Biomarkerz</p>
    </div>
    <div class="clearfix colelem" id="pu965-3"><!-- group -->
     <div class="clearfix grpelem" id="u965-3"><!-- content -->
      <p>&nbsp;</p>
     </div>
     <div class="clearfix grpelem" id="u3578-23"><!-- content -->
      <p class="Paragraph-Style"><span id="u3578">Biomarkers</span>&nbsp;are measurable biological parameters that are predictive of the risk of a serious disease when present at an abnormal level in the human body.&nbsp; Examples include Blood Pressure,&nbsp; blood and urine chemistry, imaging.</p>
      <p class="Paragraph-Style">&nbsp;</p>
      <p class="Paragraph-Style"><span id="u3578-5">A health claim on food</span><span id="u3578-6">&nbsp;</span>must show (most weight given to human trials)</p>
      <p class="Paragraph-Style">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * A consistent association between the food or property of the food and the health effect.</p>
      <p class="Paragraph-Style">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * The effect must be biologically plausible and</p>
      <p class="Paragraph-Style">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; * The amount of food needed to achieve the health effect must be able to be consumed as part of a normal diet.</p>
      <p>&nbsp;</p>
      <p class="Paragraph-Style---Dev-notes Menu">[To get an idea of the &quot;working&quot; part of the site please look under <a class="nonblock" href="/search/"><span id="u3578-17">Database &gt; Search</span></a>&nbsp;]</p>
      <p>&nbsp;</p>
     </div>
    </div>
{% endblock %}

